In [15]:
import numpy as np
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [40]:
links = pd.read_csv("ml-youtube.csv")
links.set_index('movieId')
movies = pd.read_csv("movies.csv")
movies.set_index("movieId")

df = links.join(movies, lsuffix="links", rsuffix="")
df.drop(['movieIdlinks','titlelinks'], axis=1, inplace=True)
df.index.name = 'ID'
df = pd.concat(
    [
        df,
        pd.DataFrame(
            [[None]*len(genres)], 
            index=df.index, 
            columns=genres
)
    ], axis=1
)
for ind,row in df.iterrows():
    for g in genres:
        if g in row['genres']:
            df.loc[ind,g] = 1
        else:
            df.loc[ind,g] = 0
print(df.head(10))

      youtubeId  movieId                               title  \
ID
0   K26_sDKnvMU        1                    Toy Story (1995)
1   3LPANjHlPxo        2                      Jumanji (1995)
2   rEnOoWs3FuA        3             Grumpier Old Men (1995)
3   j9xml1CxgXI        4            Waiting to Exhale (1995)
4   ltwvKLnj1B4        5  Father of the Bride Part II (1995)
5   2GfZl4kuVNI        6                         Heat (1995)
6   twTksx_lWB4        7                      Sabrina (1995)
7   -C-xXZyX2zU        8                 Tom and Huck (1995)
8   SCOxEKkuWG4        9                 Sudden Death (1995)
9   lcOqUE0u1LM       10                    GoldenEye (1995)

                                         genres  Adventure  Animation  \
ID
0   Adventure|Animation|Children|Comedy|Fantasy          1          1
1                    Adventure|Children|Fantasy          1          0
2                                Comedy|Romance          0          0
3                          Comedy|Drama|Romance          0          0
4                                        Comedy          0          0
5                         Action|Crime|Thriller          0          0
6                                Comedy|Romance          0          0
7                            Adventure|Children          1          0
8                                        Action          0          0
9                     Action|Adventure|Thriller          1          0

    Children  Comedy  Fantasy  Romance         ...          Horror  Mystery  \
ID                                             ...
0          1       1        1        0         ...               0        0
1          1       0        1        0         ...               0        0
2          0       1        0        1         ...               0        0
3          0       1        0        1         ...               0        0
4          0       1        0        0         ...               0        0
5          0       0        0        0         ...               0        0
6          0       1        0        1         ...               0        0
7          1       0        0        0         ...               0        0
8          0       0        0        0         ...               0        0
9          0       0        0        0         ...               0        0

    Sci-Fi  IMAX  Documentary  War  Musical  Western  Film-Noir  \
ID
0        0     0            0    0        0        0          0
1        0     0            0    0        0        0          0
2        0     0            0    0        0        0          0
3        0     0            0    0        0        0          0
4        0     0            0    0        0        0          0
5        0     0            0    0        0        0          0
6        0     0            0    0        0        0          0
7        0     0            0    0        0        0          0
8        0     0            0    0        0        0          0
9        0     0            0    0        0        0          0

    (no genres listed)
ID
0                    0
1                    0
2                    0
3                    0
4                    0
5                    0
6                    0
7                    0
8                    0
9                    0

[10 rows x 24 columns]

In [41]:
df.head(10)

,youtubeId,movieId,title,genres,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
ID,,,,,,,,,,,,,,,,,,,,,
0,K26_sDKnvMU,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3LPANjHlPxo,2,Jumanji (1995),Adventure|Children|Fantasy,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,rEnOoWs3FuA,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,j9xml1CxgXI,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,ltwvKLnj1B4,5,Father of the Bride Part II (1995),Comedy,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2GfZl4kuVNI,6,Heat (1995),Action|Crime|Thriller,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,twTksx_lWB4,7,Sabrina (1995),Comedy|Romance,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
7,-C-xXZyX2zU,8,Tom and Huck (1995),Adventure|Children,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,SCOxEKkuWG4,9,Sudden Death (1995),Action,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,lcOqUE0u1LM,10,GoldenEye (1995),Action|Adventure|Thriller,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df.drop('genres',inplace=True, axis=1)

In [43]:
df.head(5)

,youtubeId,movieId,title,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
ID,,,,,,,,,,,,,,,,,,,,,
0,K26_sDKnvMU,1,Toy Story (1995),1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3LPANjHlPxo,2,Jumanji (1995),1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,rEnOoWs3FuA,3,Grumpier Old Men (1995),0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,j9xml1CxgXI,4,Waiting to Exhale (1995),0,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,ltwvKLnj1B4,5,Father of the Bride Part II (1995),0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
# dropping things with no genre
df.drop(df[df['(no genres listed)'] == 1].index,inplace=True)
df.drop('(no genres listed)',axis=1,inplace=True)

In [52]:
print(df.columns)
df.drop('IMAX',axis=1,inplace=True)

Index(['youtubeId', 'movieId', 'title', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller',
       'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Western', 'Film-Noir'],
      dtype='object')

In [53]:
print(df.columns)
df.to_csv('preprocessed_movies.csv')

Index(['youtubeId', 'movieId', 'title', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller',
       'Horror', 'Mystery', 'Sci-Fi', 'Documentary', 'War', 'Musical',
       'Western', 'Film-Noir'],
      dtype='object')