In [46]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import csv

In [51]:
links = pd.read_csv("ml-youtube.csv")
links.set_index('movieId')
movies = pd.read_csv("movies.csv")
movies.set_index("movieId")

df = links.join(movies, lsuffix="links", rsuffix="")
df.drop(['movieIdlinks','titlelinks'], axis=1, inplace=True)
df.index.name = 'ID'

In [52]:
def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    row_accumulator = []

    def splitListToRows(row, separator):
        split_row = row[target_column].split(separator)
        for s in split_row:
            new_row = row.to_dict()
            new_row[target_column] = s
            row_accumulator.append(new_row)

    df.apply(splitListToRows, axis=1, args = (separator, ))
    new_df = pd.DataFrame(row_accumulator)
    return new_df

df = splitDataFrameList(df,'genres','|')

In [53]:
df.head(5)

      genres  movieId             title    youtubeId
0  Adventure        1  Toy Story (1995)  K26_sDKnvMU
1  Animation        1  Toy Story (1995)  K26_sDKnvMU
2   Children        1  Toy Story (1995)  K26_sDKnvMU
3     Comedy        1  Toy Story (1995)  K26_sDKnvMU
4    Fantasy        1  Toy Story (1995)  K26_sDKnvMU

In [54]:
df.to_csv('preprocessed_movies.csv')